# Importo librerie utili

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Importo e visualizzo file

In [2]:
telco_churn = pd.read_csv("../Desktop/ia_challenge/telo churn/WA_Fn-UseC_-Telco-Customer-Churn.train.csv")

In [3]:
telco_churn

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,No,4223-BKEOR,Female,0,No,Yes,21,Yes,No,DSL,...,No,Yes,No,No,Yes,One year,No,Mailed check,64.85,1336.8
1,No,6035-RIIOM,Female,0,No,No,54,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Yes,Two year,Yes,Bank transfer (automatic),97.20,5129.45
2,Yes,3797-VTIDR,Male,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,23.45,23.45
3,Yes,2568-BRGYX,Male,0,No,No,4,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.20,237.95
4,No,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,Yes,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95
5630,No,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.3
5631,No,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,21.15,306.05
5632,Yes,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15
5633,No,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.80,457.3

In [4]:
telco_churn.columns

Index(['Churn', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [5]:
telco_churn.isnull().sum()

Churn               0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [6]:
telco_churn[['Churn', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges']]

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,No,4223-BKEOR,Female,0,No,Yes,21,Yes,No,DSL,...,No,Yes,No,No,Yes,One year,No,Mailed check,64.85,1336.8
1,No,6035-RIIOM,Female,0,No,No,54,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Yes,Two year,Yes,Bank transfer (automatic),97.20,5129.45
2,Yes,3797-VTIDR,Male,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,23.45,23.45
3,Yes,2568-BRGYX,Male,0,No,No,4,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.20,237.95
4,No,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,Yes,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95
5630,No,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.3
5631,No,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,21.15,306.05
5632,Yes,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15
5633,No,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.80,457.3

# valori nulli impostati a nan

In [7]:
telco_churn.replace('No internet service', np.nan , inplace=True)

In [8]:
telco_churn.replace('No phone service', np.nan , inplace=True)

In [9]:
telco_churn.replace(' ', np.nan , inplace=True)

In [10]:
telco_churn[['Churn', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport']]

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport
0,No,4223-BKEOR,Female,0,No,Yes,21,Yes,No,DSL,Yes,No,Yes,No
1,No,6035-RIIOM,Female,0,No,No,54,Yes,Yes,Fiber optic,No,Yes,No,No
2,Yes,3797-VTIDR,Male,0,Yes,No,1,No,NaN,DSL,No,No,No,No
3,Yes,2568-BRGYX,Male,0,No,No,4,Yes,No,Fiber optic,No,No,No,No
4,No,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,Yes,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,Yes,No,No,No
5630,No,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,Yes,Yes,Yes,Yes
5631,No,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,NaN,NaN,NaN,NaN
5632,Yes,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,No,No,Yes,No
5633,No,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,NaN,NaN,NaN,NaN

In [11]:
telco_churn[['StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges']]

,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,No,Yes,One year,No,Mailed check,64.85,1336.8
1,Yes,Yes,Two year,Yes,Bank transfer (automatic),97.20,5129.45
2,No,No,Month-to-month,Yes,Electronic check,23.45,23.45
3,No,No,Month-to-month,Yes,Electronic check,70.20,237.95
4,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
...,...,...,...,...,...,...,...
5629,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95
5630,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.3
5631,NaN,NaN,Month-to-month,Yes,Electronic check,21.15,306.05
5632,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15
5633,NaN,NaN,One year,No,Credit card (automatic),19.80,457.3

In [12]:
telco_churn.isnull().sum()

Churn                  0
customerID             0
gender                 0
SeniorCitizen          0
Partner                0
Dependents             0
tenure                 0
PhoneService           0
MultipleLines        552
InternetService        0
OnlineSecurity      1214
OnlineBackup        1214
DeviceProtection    1214
TechSupport         1214
StreamingTV         1214
StreamingMovies     1214
Contract               0
PaperlessBilling       0
PaymentMethod          0
MonthlyCharges         0
TotalCharges          10
dtype: int64

In [13]:
#elimino colonne con circa il 30% dei valori nulli, inoltre colonne non estremamente necessarie
features_da_eliminare=['OnlineSecurity', 'OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies']
new_telco_data=telco_churn.drop(features_da_eliminare, axis=1, inplace=True)

In [14]:
telco_churn

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,No,4223-BKEOR,Female,0,No,Yes,21,Yes,No,DSL,One year,No,Mailed check,64.85,1336.8
1,No,6035-RIIOM,Female,0,No,No,54,Yes,Yes,Fiber optic,Two year,Yes,Bank transfer (automatic),97.20,5129.45
2,Yes,3797-VTIDR,Male,0,Yes,No,1,No,NaN,DSL,Month-to-month,Yes,Electronic check,23.45,23.45
3,Yes,2568-BRGYX,Male,0,No,No,4,Yes,No,Fiber optic,Month-to-month,Yes,Electronic check,70.20,237.95
4,No,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Two year,Yes,Bank transfer (automatic),61.90,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,Yes,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,Month-to-month,Yes,Electronic check,95.00,95
5630,No,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,Two year,Yes,Credit card (automatic),91.10,2198.3
5631,No,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,Month-to-month,Yes,Electronic check,21.15,306.05
5632,Yes,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,Month-to-month,Yes,Electronic check,99.45,1200.15
5633,No,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,One year,No,Credit card (automatic),19.80,457.3

In [15]:
telco_churn.dtypes

Churn                object
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
dtype: object

In [16]:
telco_churn.shape

(5634, 15)

In [17]:
#per totalcharges con valori mancanti del 1% verà effettuata l'imputazione
telco_churn['TotalCharges'].value_counts()

20.2       10
19.75       8
20.05       6
19.55       6
19.9        6
           ..
275.4       1
1750.7      1
3326.2      1
826         1
3478.75     1
Name: TotalCharges, Length: 5299, dtype: int64

In [18]:
#per multiplelines con valori mancanti del 10% verà effettuata l'imputazione
telco_churn['MultipleLines'].value_counts()

No     2685
Yes    2397
Name: MultipleLines, dtype: int64

# imputazione per la colonna MultipleLines eTotalCharges

In [19]:
#imputazione colonna con valori categoriali e nan, valore più frequente assegnato ai valori nulli
telco_churn_più = telco_churn[['TotalCharges']].apply(lambda x: x.fillna(x.value_counts().index[0]))
telco_churn_più

     TotalCharges
0          1336.8
1         5129.45
2           23.45
3          237.95
4            20.2
...           ...
5629           95
5630       2198.3
5631       306.05
5632      1200.15
5633        457.3

[5634 rows x 1 columns]

In [20]:
telco_churn_più.TotalCharges.isnull().sum()

0

In [21]:
telco_churn.TotalCharges.value_counts()

20.2       10
19.75       8
20.05       6
19.55       6
19.9        6
           ..
275.4       1
1750.7      1
3326.2      1
826         1
3478.75     1
Name: TotalCharges, Length: 5299, dtype: int64

In [22]:
telco_churn['TotalCharges'] = telco_churn_più.astype(str).copy()

In [23]:
pd.to_numeric(telco_churn['TotalCharges'])

0       1336.80
1       5129.45
2         23.45
3        237.95
4         20.20
         ...
5629      95.00
5630    2198.30
5631     306.05
5632    1200.15
5633     457.30
Name: TotalCharges, Length: 5634, dtype: float64

In [24]:
#imputazione colonna con valori categoriali e nan, valore più frequente assegnato ai valori nulli
telco_churn_più_frequente = telco_churn[['MultipleLines']].apply(lambda x: x.fillna(x.value_counts().index[0]))
telco_churn_più_frequente

     MultipleLines
0               No
1              Yes
2               No
3               No
4              Yes
...            ...
5629            No
5630           Yes
5631            No
5632           Yes
5633            No

[5634 rows x 1 columns]

In [25]:
telco_churn['MultipleLines'] = telco_churn_più_frequente.astype(str).copy()

In [26]:
telco_churn.MultipleLines.isnull().sum()

0

In [27]:
telco_churn

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,No,4223-BKEOR,Female,0,No,Yes,21,Yes,No,DSL,One year,No,Mailed check,64.85,1336.8
1,No,6035-RIIOM,Female,0,No,No,54,Yes,Yes,Fiber optic,Two year,Yes,Bank transfer (automatic),97.20,5129.45
2,Yes,3797-VTIDR,Male,0,Yes,No,1,No,No,DSL,Month-to-month,Yes,Electronic check,23.45,23.45
3,Yes,2568-BRGYX,Male,0,No,No,4,Yes,No,Fiber optic,Month-to-month,Yes,Electronic check,70.20,237.95
4,No,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Two year,Yes,Bank transfer (automatic),61.90,20.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,Yes,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,Month-to-month,Yes,Electronic check,95.00,95
5630,No,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,Two year,Yes,Credit card (automatic),91.10,2198.3
5631,No,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,Month-to-month,Yes,Electronic check,21.15,306.05
5632,Yes,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,Month-to-month,Yes,Electronic check,99.45,1200.15
5633,No,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,One year,No,Credit card (automatic),19.80,457.3

# varoli categorici trasformati in valori

In [28]:
s = (telco_churn.dtypes == 'object')
telco_object_cols = list(s[s].index)

In [29]:
#creo copia per evitare di modificare dati originali
label_telco = telco_churn.copy()

# Applica il codificatore di etichette a ogni colonna con dati categorici
label_encoder = LabelEncoder()
for col in telco_object_cols:
    label_telco[col] = label_encoder.fit_transform(telco_churn[col])

In [30]:
label_telco

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,2370,0,0,0,1,21,1,0,0,1,0,3,64.85,491
1,0,3457,0,0,0,0,54,1,1,1,2,1,0,97.20,3510
2,1,2149,1,0,1,0,1,0,0,0,0,1,2,23.45,1565
3,1,1426,1,0,0,0,4,1,0,1,0,1,2,70.20,1626
4,0,1545,1,0,0,1,0,1,1,0,2,1,0,61.90,1289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,1,375,1,0,1,0,1,1,0,1,0,1,2,95.00,5230
5630,0,3418,0,0,1,1,23,1,1,0,2,1,1,91.10,1465
5631,0,4591,1,0,1,1,12,1,0,2,0,1,2,21.15,2166
5632,1,4247,1,1,0,0,12,1,1,1,0,1,2,99.45,304
5633,0,2700,1,0,0,0,26,1,0,2,1,0,1,19.80,3148

# Splitto

In [31]:
y = label_telco.Churn
X = label_telco.drop('Churn',axis=1,inplace=False)

In [32]:
#target
y

0       0
1       0
2       1
3       1
4       0
       ..
5629    1
5630    0
5631    0
5632    1
5633    0
Name: Churn, Length: 5634, dtype: int32

In [33]:
X

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,2370,0,0,0,1,21,1,0,0,1,0,3,64.85,491
1,3457,0,0,0,0,54,1,1,1,2,1,0,97.20,3510
2,2149,1,0,1,0,1,0,0,0,0,1,2,23.45,1565
3,1426,1,0,0,0,4,1,0,1,0,1,2,70.20,1626
4,1545,1,0,0,1,0,1,1,0,2,1,0,61.90,1289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,375,1,0,1,0,1,1,0,1,0,1,2,95.00,5230
5630,3418,0,0,1,1,23,1,1,0,2,1,1,91.10,1465
5631,4591,1,0,1,1,12,1,0,2,0,1,2,21.15,2166
5632,4247,1,1,0,0,12,1,1,1,0,1,2,99.45,304
5633,2700,1,0,0,0,26,1,0,2,1,0,1,19.80,3148

In [34]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

# Modellazione e calcolo accuracy

In [35]:
#Ho ritenuto giusto usare il Random Forest Classifier perchè:
#questo modello va bene su dati di tipo diverso, categoriali e non. 
#Una foresta casuale è una raccolta di alberi di decisione casuale che aggrega i dati dei diversi
#alberi decisionali per decidere la classe finale. In ultimo l'ho preferito al decision tree classifier 
#in quanto con quest'ultimo ho notato che l'accuracy veniva minore rispetto a quello che ho usato.

In [36]:
# definizione del modello
telco_model = RandomForestClassifier(random_state=1)
# alleno il modello
telco_model.fit(train_X, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [37]:
val_predictions = telco_model.predict(val_X)

In [38]:
#accuracy
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(val_y,val_predictions)
accuracy_telco = accuracy_score(val_y, val_predictions.round())*100
print ('mae:', mae)
print('accuracy:', accuracy_telco)

mae: 0.1980127750177431
accuracy: 80.19872249822569